<a href="https://colab.research.google.com/github/SoumyaBanerjee23/Banerjee_Py/blob/main/Assignment05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
class Point:
    def __init__(self, x, y, z):
        self.x = x
        self.y = y
        self.z = z

    def sqSum(self):
        return self.x ** 2 + self.y ** 2 + self.z ** 2


v = Point(1, 3, 5)
result = v.sqSum()
print(result)

35

In [5]:
class Calculator:
    def __init__(self, num1, num2):
        self.num1 = num1
        self.num2 = num2

    def add(self):
        return self.num1 + self.num2

    def subtract(self):
        return self.num2 - self.num1

    def multiply(self):
        return self.num1 * self.num2

    def divide(self):
        return self.num2 / self.num1


# Sample usage
obj = Calculator(10, 94)
print(obj.add())  # Output: 104
print(obj.subtract())  # Output: 84
print(obj.multiply())  # Output: 940
print(obj.divide())  # Output: 9.4

104
84
940
9.4

In [7]:
class Student:
    def __init__(self):
        self._name = None
        self._rollNumber = None

    def setName(self, name):
        self._name = name

    def getName(self):
        return self._name

    def setRollNumber(self, rollNumber):
        self._rollNumber = rollNumber

    def getRollNumber(self):
        return self._rollNumber


student = Student()
student.setName("John")
student.setRollNumber(1)
print(student.getName())  
print(student.getRollNumber())

John
1

In [13]:
class Account:
    def __init__(self):
        self.title = None
        self.balance = 0

class SavingsAccount(Account):
    def __init__(self):
        super().__init__()
        self.interestRate = 0

In [14]:
class Account:
    def __init__(self, title, balance):
        self.title = title
        self.balance = balance

class SavingsAccount(Account):
    def __init__(self):
        super().__init__("Ashish", 2000)
        self.interestRate = 0

In [22]:
class Account:
    def __init__(self, title, balance):
        self.title = title
        self.balance = balance

class SavingsAccount(Account):
    def __init__(self, title, balance, interestRate):
        super().__init__(title, balance)
        self.interestRate = interestRate